*{
  margin:0;
  padding:0;
}
html
{
  scroll-behavior: smooth;
}
body {
  background-image: url('https://i.ytimg.com/vi/RovleibldJ4/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.hr
{
border: dotted grey 6px;
border-bottom: none;
width: 8%;
margin: 30px auto;
}


#loading{
position:fixed;
width:100%;
height:100%;
background: #ffffff
url('Infinity-1s-200px.gif') no-repeat center;
z-index:999999;
}

#About{
  width: 100%;
  height: 500vh;
}
.about-container
{
  display: block;
  text-transform: uppercase;
}
.about-h1
{
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100px;
  padding: 1%;
  margin-left: 20px;
}
.about-text1
{
  color: white;
  font-family: sans-serif;
  margin-left: 50px;
  font-size: 50px;
  background: black;
  position: relative;
  animation: text2 3s 1;
}
.about-text2
{
  font-family: sans-serif;
  margin-left: 30px;
  font-size: 25px;
  font-style: italic;
  animation: text2 5s 1;
  color: #6ab04c;
}
@keyframes text2 {
  0%{
    letter-spacing: 20px;
    margin-right: -400px;
  }
  30%
  {
    letter-spacing: 10px;
    margin-right: -400px;
  }
  50%
  {
    letter-spacing: 8px;
    margin-right: -400px;
  }
  85%
  {
    letter-spacing: 5px;
    margin-right: -400px;
  }
}
.about-p
{
  margin: 30px;
  text-align: justify;
  font-size: 20px;
}
.dp{
  width: 30%;
  height: 60vh;
  padding: 2%;
  margin: 20px;
  float: right;
}
.about-h3
{
  margin-left: 40px;
}
.about-card-img{
  width: 30%;
  height: 70vh;
  margin: auto;
  padding: 2%;
}
.about-card-title{
  text-align: center;
  font-weight: bold;
  padding: 1%;
}
.about-pp
{
  margin-top: 200px;
  padding: 5%;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 200px;
}




#projects{
  width: 100%;
}
.projects-h1
{
  text-align: center;
  font-size: 80px;
  padding: 1%;
}
.project-text1
{
  font-size: 30px;
  margin-left: 50%;
  padding: 1%;
}
.button-effect{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 60px;
  overflow: hidden;
  transition: 0.2s;
   margin-top:2%;
   letter-spacing:8px;
   font-weight:bold;
}
.button-effect:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
}
.Card{
  margin: auto;
  width: 80%;
  background-image: url('https://www.vamosrayos.com/b/2020/01/cool-hd-background-pics-photos-1080p-for-photoshop.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.card-image{
  margin-left: 34%;
  margin-bottom: 10px;
  width: 30%;
  height: 20vh;
}
.card-text
{
  font-style: italic;
  color: white;
  font-size: 18px;
}
.card-title
{
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #6ab04c;
}





#Blogs
{
  width: 100%;
}
.blog-h1
{
  text-align: center;
  font-size: 80px;
  padding: 1%;
}
.blog-text1
{
  font-size: 30px;
  margin-left: 50%;
  margin-bottom: 30px;
}
.blog-card{
  width: 80%;
  padding: 2%;
  margin: auto;
}
.blog-card-body{
  text-align: justify;
}
.blog-card-image{
  margin: auto;
  padding: 5%;
  width: 40%;
  height: 40vh;
}




.video-resume{
  width: 100%;
  height: 20vh;
  margin:auto;
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color:#fff;
  padding: 3%;
}
.resume-head{
  margin-top: 50px;
  padding: 2%;
}
.resume-paper{
  width: 95%;
  height: 100vh;
  background-image: url('https://selfgrowth.info/photos/3D-galleries/free-3D-images-without-background6944.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin:auto;
  position: relative;
  color: white;
}
.resume-paper-image{
  width: 40%;
  height: 100vh;
  margin: auto;
  padding: 2%;
}
.resume-head-text1{
  margin-left: 200px;
}
.resume-head-text2{
  font-size: 20px;
  margin-left: 750px;
}




#footer
{
  text-align:center;
  padding:2%;
  margin-top:15%;
}
.footer-text1
{
  font-weight: bolder;
  color: white;
}
